@font-face {
    font-family: 'Lorin';
    src: url('/theme_cids/static/src/fonts/Lorin-Bold.ttf');
    src: url('/theme_cids/static/src/fonts/Lorin-ExtraBold.ttf');
    src: url('/theme_cids/static/src/fonts/Lorin-Light.ttf');
    src: url('/theme_cids/static/src/fonts/Lorin-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}