:root {
    --width-888: 61.6vw;
    /*fonts*/
    --font-size-6: 0.41vw;
    --font-size-8: 0.55vw;
    --font-size-10: 0.69vw;
    --font-size-12: 0.83vw;
    --font-size-14: 0.98vw;
    --font-size-16: 1.12vw;
    --font-size-18: 1.25vw;
    --font-size-20: 1.38vw;
    --font-size-24: 1.66vw;
    --font-size-30: 2.08vw;
    --font-size-32: 2.23vw;
    --font-size-48: 3.34vw;
    --font-size-50: 3.47vw;
    --font-size-56: 3.88vw;
    --font-size-60: 4.16vw;

    /*colors*/
    --yellow: #FFBC00;
    --white: #fff;
    /* Height dec2022*/
    --height-863: 59.93vw;
    --height-875: 60.76vw;
    --height-889: 61.73vw;
    --height-506: 35.13vw;
    --height-464: 32.22vw;
    --height-523: 36.31vw;
    --height-547: 37.98vw;
    --height-505: 35.06vw;
    --height-155: 10.76vw;
    --height-240: 16.66vw;
    --height-102: 7.08vw;
    --height-51: 3.54vw;
    --height-55: 3.81vw;
    --height-90: 6.25vw;
    --height-313: 21.73vw;
    /* Width dec2022*/
    --width-28: 1.95vw;
    --width-718: 49.86vw;
    --width-634: 44.02vw;
    --width-357: 24.79vw;
    --width-1063: 73.81vw;
    --width-431: 29.92vw;
    --width-485: 33.68vw;
    --width-600: 41.66vw;
    --width-700: 48.61vw;
    --width-509: 35.34vw;
    --width-536: 37.22vw;
    --width-102: 7.08vw;
    --width-194: 13.47vw;
    --width-162: 11.25vw;
    --width-211: 14.65vw;
    --width-126: 9.22vw;
    --width-273: 18.95vw;
    /* Padding */
    --padding-4: 0.28vw;
    --padding-12: 0.08vw;

    --padding-19: 1.31vw;
    --padding-47: 3.26vw;

    --padding-28: 1.94vw;
    --padding-23: 1.59vw;
    --padding-32: 2.22vw;
    --padding-39: 2.70vw;
    --padding-80: 5.56vw;
    --padding-45: 3.13vw;
    --padding-55: 3.81vw;


    --padding-60: 4.16vw;
    --padding-120: 8.32vw;
    --padding-80: 5.55vw;
    --padding-83: 5.76vw;




    --padding-65: 4.51vw;
    --padding-202: 14.02vw;
    --padding-173: 12.01vw;
    --padding-140: 9.72vw;
    --padding-110: 7.63vw;
    --padding-118: 8.19vw;
    --padding-130: 9.02vw;
    --padding-92: 6.38vw;
    /*margin*/
    --margin-28: 1.38vw;
    --margin-49: 3.40vw;
    --margin-100: 6.94vw;
    --margin-120: 8.33vw;
    --margin-70: 4.86vw;
    --margin-102: 7.08vw;
    --margin-164: 11.38vw;
    --margin-231: 16.04Fvw;
}

/*active menu item*/
a:hover{
    text-decoration: none !important;
}
.menu a.active {
    color: var(--yellow);
}

.menu a.active::after {
    content: "";
    height: 3px;
    background-color: var(--yellow);
    position: absolute;
    top: var(--font-size-24);
    width: 100%;
    left: 0px;

}

.login a img{
    width:var(--font-size-16);
    height:var(--font-size-16);
}


/*active menu item ends here*/

/*animations*/

@-webkit-keyframes zoomOut {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale(.3);
      transform: scale(.3);
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomOut {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale(.3);
      -ms-transform: scale(.3);
      transform: scale(.3);
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
  }

@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        top: -100%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        top: -100%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}



/*animations ends here*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@font-face {
    font-family: 'Lorin';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin Regular'), local('/web/static/src/custom_fonts/Lorin-Regular'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lorin-bold';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin Bold'), local('Lorin-Bold'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lorin-xbold';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin ExtraBold'), local('Lorin-ExtraBold'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*banner css*/
/* .comm-banner {
    width: var(--width-888);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index:9999;
    transition:all .35s linear;
    animation-duration: 2s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
animation-name: slideupText;
animation-delay: 0.5s;
} */


/* @keyframes slideupText {
    0% { bottom:-100%;}
    100%{bottom:30%;}
  } */

/*banner css*/
.comm-banner {
    width: var(--width-888);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index:9999;


}

@-webkit-keyframes slideInUpText {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
      transform: translateY(40%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slideInUpText {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
      transform: translateY(40%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
      transform: translateY(40%);
    }
  }

  .slideInUpText {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }

.commercial-banner .owl-item.active .comm-banner {
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;

    animation-name: slideInUpText;
//     animation-delay: 0s;
  }

.comm-banner h1 {
    font-size: var(--font-size-50);
    color: var(--white);
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    display:flex;
   justify-content: center;
}


.comm-banner h1 span {
    color: var(--yellow)
}


/*get in touch button style*/
.comm-banner .hbtns {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.comm-banner .hbtns a.explore {
    height: var(--height-51);
    min-width: var(--width-102);
    background: #FFBC00;
    font-family: 'Lorin-bold';
    font-size: var(--font-size-16);
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 16px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    padding: var(--padding-12) var(--padding-23);
    
}

.comm-banner .hbtns a.explore img{
    width:var(--font-size-32);
    margin-left: var(--font-size-12);
}

.comm-banner .hbtns a.explore::after {
    content: "Get In Touch\00a0\00a0\00a0 " url("/cids_theme_odoo_15/static/src/img/images/UnionYellow.png");
    background-color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    color: var(--yellow);
    height: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
   /* padding: var(--padding-12) var(--padding-23);*/

}

.comm-banner .hbtns a.explore:hover::after {
    opacity: 1;
    height: var(--height-51);

}

.commercial-banner .owl-carousel .owl-item img.unionpng {
    width: var(--font-size-32)!important;
    height: 6px !important;
    margin-left: var(--padding-23);
}

.commercial-banner{
    z-index:0;
    height: var(--height-875);
    position:relative;
    overflow:hidden;
}

/*.commercial-banner .owl-carousel{
    z-index:-1;
}*/

.commercial-banner .owl-carousel .owl-item img {
    width: 100%;
    height: var(--height-875);
}

/*banner animation*/
.commercial-banner .owl-item.active h1 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInUp;
    animation-delay: 0.3s;
}

.commercial-banner .owl-item.active .hbtns {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInUp;
    animation-delay: .65s;
}

.commercial-banner .owl-nav,
.commercial-banner .owl-dots {
    display: none;
}

/*banner css ends here*/


/*top header starts here*/

.top-header {
    height: var(--height-55);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    animation: all .35s linear;
}

.logo img {
    width: var(--width-126);
}

.top-header-inner {
    background-color: var(--yellow);
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-90);
    background: transparent;
    width: 90%;
    margin: auto;
}

.top-header>div {
    display: flex;
    width: 50%;
    color: #fff;
}
.top-header>div.sicons{
    justify-content: flex-end;
}

.top-header>div.sicons li{
    width:var(--font-size-20);
    height:var(--font-size-20);
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:var(--font-size-16);
    position:relative;
    overflow:hidden;
}


.top-header>div.sicons li::after{
    content: url(https://dev.cids.design/cids_theme_odoo_15/static/src/img/images/Call-1.svg);
    background-color: var(--yellow);
    width: var(--padding-28);
    height: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s linear;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    left: 0;
    right: 0;
}

.top-header>div.sicons li:hover ::after{
    opacity: 1;
    height: var(--padding-28);
}

.top-header>div.sicons li img{
    width:var(--font-size-12);
    height:var(--font-size-12);
    object-fit: contain;

}
.cont-info>div {
    display: flex;
    align-items: center;
    margin-right: var(--font-size-18);
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    font-size: var(--font-size-14);
    line-height: 150%;
}

.cont-info>div img {
    width: var(--font-size-16);
    height: var(--font-size-16);
    margin-right: 10px;
}

.header {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    top: -100%;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideDown;
    animation-delay: 0.5s;
    z-index:999;
    transition:all .35s linear;
}

/*fixed navbar on scroll*/
.header.f-nav{
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:999;
}

.header.f-nav .btm-holder{
    background:rgba(80,87 ,93,.72);
backdrop-filter: blur(7.5px);
}


.menu a {
    font-family: 'Lorin-bold';
    font-size: var(--font-size-16);
    line-height: 120%;
    color: #fff;
    margin-right: var(--margin-28);
    text-decoration: none;
    position: relative;
}

.menu a::after {
    content: "";
    height: 1px;
    background-color: var(--yellow);
    position: absolute;
    top: 24px;
    width: 0;
    left: 50%;
    transition: all .35s linear;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}

.menu a:hover {
    color: var(--yellow) !important;
    cursor: pointer;
}

.login {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login img{width:var(--font-size-16); object-fit:contain;}

.login a {
    width: var(--padding-28);
    height: var(--padding-28);
    background-color: var(--white);
    border-radius: 50%;
    margin-left: var(--width-28);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.login a.login-search::after {
    content: url("/cids_theme_odoo_15/static/src/img/images/Call-1.svg");
    background-color: var(--yellow);
    width: var(--padding-28);
    height: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s linear;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 0;
    right: 0;
}

.login a.login-search:hover::after {
    opacity: 1;
    height: var(--padding-28);
}

.login a.login-search1::after {
    content: url("/cids_theme_odoo_15/static/src/img/commercial/link_w.svg");
    background-color: var(--yellow);
    width: var(--padding-28);
    height: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s linear;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 0;
    right: 0;
}

.login a.login-search1:hover::after {
    opacity: 1;
    height: var(--padding-28);
}

.login a.contact-search::after {
    content: url("/cids_theme_odoo_15/static/src/img/images/Profile-1.svg");
    background-color: var(--yellow);
    width: var(--padding-28);
    height: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s linear;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    left: 0;
    right: 0;
}

.login a.contact-search:hover::after {
    opacity: 1;
    height: var(--padding-28);
}

.login a.contact-search1::after {
    content: url("/cids_theme_odoo_15/static/src/img/commercial/Message-svg.png");
    background-color: var(--yellow);
    width: var(--padding-28);
    height: 0px;
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 0;
    transition: all .35s linear;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    left: 0;
    right: 0;
}

.login a.contact-search1:hover::after {
    opacity: 1;
    height: var(--padding-28);
}

/*top header ends here*/

/*values section starts here*/
.values {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin-102);
    -webkit-box-shadow:0 8px 50px -25px rgba(49,53,57,.68);
    -moz-box-shadow: 0 8px 50px -25px rgba(49,53,57,.68);
    box-shadow: 0 8px 50px -25px rgba(49,53,57,.68);
    background: #fff;
    position:relative;
    margin-top: -7%;
    z-index: 9;
}

.values img {
    width: var(--height-55);
    height: var(--height-55);
    margin-right: var(--font-size-24);
}

.values>div {
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-28);
    align-items: center;
    position: relative;
    padding: var(--padding-39);
}

.values>div:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color:#50575d6e;
    height: var(--height-155);
    top: var(--padding-39);
    left: 0;
}

.values>div:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 1px;
    background-color:#50575d6e;
    height: var(--height-155);
    top: var(--padding-39);
    right: 0;
}

.value-content h2 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-18);
    line-height: var(--font-size-24);
    color: #50575D;
    margin-bottom:var(--font-size-16);
}

.value-content p {
    font-family: 'Lorin';
    font-size: var(--font-size-14);
    line-height: var(--font-size-24);
    color: #50575D;
    margin-bottom:0px;
}

/*values ends here*/


/*about starts here*/
.comm-about {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: var(--margin-70);
    margin-top:var(--margin-231);
}

.left-about {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;

}

.abs-video {
    position: absolute;
    left: 0;
    width: var(--width-700);
    height: var(--height-547);
}

.right-about {
    width: 50%;
    background-color: rgba(67, 78, 87, 0.05);
    padding: var(--padding-80) var(--padding-60) var(--padding-83) var(--padding-120);
}

.right-about h3 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-18);
    line-height: 105%;
    text-transform: uppercase;
    color: #FFBC00;
    position: relative;
   
}

.right-about h3 {
    display: flex;
    align-items: center;
}

.right-about h3 img {
    width: var(--width-102);
    margin-left: var(--font-size-24);
}

.right-about h1 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    font-size: var(--font-size-30);
    line-height: 150%;
    text-transform: capitalize;
    color: #50575D;
    margin: var(--font-size-24) 0px var(--padding-39) 0px;
}

.right-about h1 span {
    color: var(--yellow);
}

.right-about p {
    font-family: 'Lorin';
    font-size: var(--font-size-16);
    color: #50575D;
}

/*about us ends here*/

/*services starts here*/
.comm-services {
    text-align: center;
}

.service-content {
    margin-bottom: 16px;
}

.service-content h2 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-30);
    line-height: 105%;
    text-transform: uppercase;
    color: #50575D;
    display: inline-block;
    position: relative;

}

.service-content h2 span {
    color: var(--yellow);
}



.service-content h1 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-32);
    line-height: 105%;
    text-transform: capitalize;
    color: #50575D;
    margin: 8px 0px 16px 0px;
}

.service-images {
    display: flex;
    justify-content: space-around;
}

.service-images>div {
    height: var(--height-505);
    width: 24%;
    position: relative;
    transition: all .35s linear;
    overflow-x: hidden;

}

.service-images>div:hover {
    box-shadow: 0px 10px 25px -13px #313539;
    transform: translateY(-10%);

}

.service-images>div:hover img {
    height:var(--height-240);
    transform: translateY(-10%);
    transform: scale(1.5);
    width: 100%;
}

.service-images>div:hover .abs-service p {
    color: #50575D;
}

.abs-service {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    padding: var(--padding-32);
}

.abs-service h2 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    font-size: var(--font-size-50);
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #FFBC00;
}

.abs-service p {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 700;
    font-size:var(--font-size-18);
    line-height: 150%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.service-images>div img {
    height: var(--height-505);
    width: 100%;
    transition: all .35s linear;
    object-fit: cover;
    margin-bottom:0px;
}

.service-content p {
    font-family: 'Lorin';
    font-size: var(--font-size-16);
    line-height: 21px;
    text-align: center;
    color: #50575D;
    width: var(--width-962);
    margin: auto;
}

.service-content h2 {
    margin-bottom: var(--padding-80);
}

.projects-text p {
    font-family: 'Lorin';
    font-size: var(--font-size-16);
    line-height: 21px;
    text-align: center;
    color: #50575D;
    width: var(--width-871);
    margin: auto;
}

.img-text {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    padding: 18px;
    justify-content: center;
    align-items: center;
    left: 0px;
    right: 0px;
    display: flex;
    color: #fff;
}

.img-text span {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-24);
    line-height: 106%;
    letter-spacing: 0.08em;
    color: #FFBC00;
}

.img-text p {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-18);
    line-height: 106%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    padding-left: 8px;
}

.comm-services{
    margin-top:var(--margin-164);
}
.comm-services .owl-carousel .owl-item img {
    height: var(--height-505);
    object-fit: cover;
}

.img-text-hidden {
    position: absolute;
    left: 0;
    FONT-VARIANT: JIS04;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    /* z-index: -1; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/*services ends here*/


/*why-different starts here*/
.why-different {
    display: flex;
    margin-top: var(--margin-164);
    margin-bottom: var(--padding-110);
    align-items: center;
}

.why-different>div {
    width: 50%;
}

.why-diff-right img {
    height: var(--height-863);
}

.why-diff-left {
    padding: var(--padding-65);
}

.why-diff-left h3 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-16);
    line-height: 150%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFBC00;
    margin-bottom: var(--padding-39);
}

.why-diff-left h3 img {
    width: var(--width-102);
    margin-left: var(--font-size-24);
}

.why-diff-left h1 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    font-size: var(--font-size-30);
    line-height: 150%;
    text-transform: capitalize;
    color: #50575D;
    margin-bottom: var(--font-size-32);
}

.list-holder li {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-18);
    line-height: 150%;
    list-style-type: none;
    color: #50575D;
    position: relative;
    padding-left: var(--padding-39);
    margin-bottom: var(--font-size-14);
}

.list-holder li span {
    color: var(--yellow);
}

.list-holder li img{
    position: absolute;
    left:0;
    top:var(--font-size-6);
    width:var(--padding-23);
    height:var(--font-size-20);
}

.gallery .nav-pills .nav-link {
    font-size: 12px;
}

/*why differeent ends here*/

/*projects section starts from here*/

.tags-bar {
    background-color: #50575D;
    justify-content: center;
}

.gallery .nav-pills .nav-link {
    border-radius: 0px;
}

.gallery .nav-pills .nav-link.active {
    color: #FFBC00 !important;
    background-color: #6B7379 !important;
}

.gallery .nav-pills .nav-link {
    color: #949494 !important;
    cursor: pointer;
    font-family: 'Lorin-bold';
    padding: 23px;
    font-size: 18px;
    text-transform: capitalize;
}

.gallery .h-100 {
    overflow: hidden;
    position: relative;
    transition: all .35s linear;
}

.gallery .img-fluid {
    max-width: 100%;
    height: 350px;
    max-height: 100%;
    object-fit: cover;
}

.gallery-item+div {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-danger {
    background-color: #000000bf !important;
    transition: all .35s linear;
    opacity: 0;
}

.gallery .h-100:hover .bg-danger {
    opacity: 1;
    background-color: #000000bf !important;
}


/*projects section ends here*/

/*our clients*/
.hotel-client h1 {
    font-family: 'Lorin-xbold';
    font-size:var(--font-size-30);
    line-height: 120%;
    /* identical to box height, or 36px */
    text-transform: capitalize;
    /* Secondary */
    color: #50575D;
    margin-top: var(--margin-100);
    margin-bottom: var(--font-size-50);
    text-align: center;
}

.hotel-client h1 span {
    color: var(--yellow);
}

.hotel-client p {
    width: var(--width-718);
    font-family: 'Lorin';
    font-size:var(--font-size-18);
    line-height: 150%;
    /* or 27px */
    text-align: center;
    margin: auto;
    /* Secondary */
    color: #50575D;
    margin-bottom: var(--font-size-32);


}


/*our client ends here*/


/*our projects starts here*/
.nav-holder {
    background-color: rgba(67, 78, 87, 0.05);

}

.project-slider .tab-content {
    padding: var(--margin-49) 0px;
    width:90%;
    margin:auto;
}

.project-slider {
    background-color: rgba(67, 78, 87, 0.07);
}

.project-header {
    width: 90%;
    margin: auto;
    padding: var(--padding-32);
    justify-content: space-between;
}

.nav-holder .nav-pills .nav-link.active {
    background-color: transparent;
    color: var(--yellow);
    font-family: 'Lorin-bold';
    font-size:var(--font-size-18);
    line-height: 120%;
    /* identical to box height, or 22px */
    text-transform: capitalize;
    /* Primary */
    color: #FFBC00;
}

.nav-holder .nav-pills .nav-link {
    padding: 0px;
    font-family: 'Lorin-bold';
    font-size:var(--font-size-18);
    line-height: 120%;

    /* identical to box height, or 22px */
    text-transform: capitalize;

    /* Secondary */
    color: #50575D;



}

#all .owl-carousel .owl-item img {
    height: var(--height-313);
    object-fit: cover;
    position: relative;
}

.case-item {
    height: var(--height-313);
}

.case-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #0000007a;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: all .35s linear;
}

.case-txt h1 {
    font-size: var(--font-size-24);
    font-family: 'Lorin-bold';
    color: var(--yellow);
}

.case-txt p {
    font-size: var(--font-size-16);
    font-family: 'Lorin';
    color: var(--white);
}

.project-slider .owl-carousel .owl-item {
    overflow: hidden;
}

.project-slider .owl-dots{
    display: none;
}

.project-slider .owl-carousel .owl-nav button.owl-next img,.project-slider .owl-carousel .owl-nav button.owl-prev img
{
   width:var(--padding-39);
}
.project-slider .owl-theme .owl-nav {
    margin-top:var(--padding-39);
}
.project-slider .owl-carousel .owl-item img {
    transition: all .35s linear;

}

.project-slider .owl-carousel .owl-item:hover img {
    transform: scale(1.5);
}

.project-slider .owl-carousel .owl-item:hover .case-txt {
    opacity: 1;
}

.project-text h3 {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 700;
    font-size:var(--font-size-16);
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.14em;
    text-transform: uppercase;
    /* Primary */
    color: #FFBC00;
    width: var(--width-273);
    position: relative;
    margin: 0px auto var(--margin-28) auto;

}

.project-text h3::after {
    content: "";
    width: var(--width-102);
    height: 2px;
    background-color: var(--yellow);
    position: absolute;
    top: 10px;
    right: 0;
}

.project-text h1 {
    font-family: 'Lorin-bold';
    font-size:var(--font-size-30);
    line-height: 150%;
    /* identical to box height, or 45px */
    text-transform: capitalize;
    /* Secondary */
    color: #50575D;
    text-align: center;
}

.project-text p {
    width: var(--width-634);
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size:var(--font-size-16);
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* Secondary */
    color: #50575D;
    margin: auto;
    margin-bottom: var(--font-size-60);



}

/*our project ends here*/

/*client feedback*/
.clientContainer {
    /* height:var(--height-155);*/
    background-color: var(--yellow);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-12) 0px;
}

/*client feedback*/
.client-feedback {
    /* height: var(--height-863);
   background-image: url('/cids_theme_odoo_15/static/src/img/images/client-feedback.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    /* padding:var(--padding-92) 0px var(--padding-65) 0px;*/
    display: flex;
    align-items: center;
}

.client-feedback .owl-carousel .owl-item img {
    height: var(--height-863);
}

.client-feedback .owl-item.active .feedback-item {
    width: var(--width-536);
    text-align: center;
    margin: auto;
    text-align: center;
    color: var(--white);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feedback-txt p {
    font-family: 'Lorin';
    font-size: var(--font-size-18);
    line-height: 150%;
    text-align: center;
    color: var(--white);
    position: relative;
}

.feedback-txt p img {
    position: absolute;
}

.feedback-txt p img:first-child {
    left: -44px;
}

.feedback-txt p img:nth-child(2) {
    right: -10px;
    transform: rotate(180deg);
}

.client-feedback .owl-item .feedback-item {

    text-align: center;
    opacity: .5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-feedback .owl-nav {
    position: absolute;
    bottom: var(--font-size-60);
    left: 50%;
    transform: translateX(-50%);
}

.feedback-item h3 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-16);
    line-height: 150%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--yellow);
    padding-bottom: var(--padding-28);
    display: inline-block;
    position: relative;
    margin-left: -185px;

}

.feedback-item h3::after {
    content: "";
    position: absolute;
    width: var(--width-102);
    height: 1px;
    background-color: var(--yellow);
    top: 13px;
}

.feedback-item h1 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-30);
    line-height: 150%;
    letter-spacing: 0.14em;
    text-transform: capitalize;
    color: var(--white);
    padding-bottom: var(--padding-65);
}

.nmloc {
    padding-top: var(--padding-45);
}

.nmloc h2 {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-20);
    line-height: 150%;
    text-transform: capitalize;
    color: var(--white);
}

.nmloc p {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-16);
    line-height: 150%;
    text-transform: capitalize;
    color: var(--white);
}

.client-feedback .owl-dots {
    display: none;
}

.client-feedback .owl-carousel .owl-nav button.owl-next img,
.client-feedback .owl-carousel .owl-nav button.owl-prev img {
    width: 40px;
    height: 40px;
}

.feedback-txt p img {
    width: var(--font-size-32) !important;
    height: auto !important;
}

/*footer css starts here*/
.service-practise {
    display: flex;
    justify-content: space-between;
}

.h-footer {
    width: 90%;
    margin: auto;
    padding: var(--padding-55) 0px var(--padding-55) 0px;

}

.f-contact {
    width: 30%;
}

.f-services {
    width: 70%;
    display: flex;
}

.services-tp {
    width: 40%;
}

.pratices-tp {
    width: 60%;
}

.services-tp>a {
    display: block;
}

.pratices-tp>a {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-transform: capitalize;
    color: #50575D;
}

.cont-detail img {
    width: 20px;
    margin-right: var(--margin-28);
}
.addrtext>*{font-size:var(--font-size-16);}
.f-services h1,
.add-detail h1,
.cont-detail h1 {
    font-family: 'Lorin-xbold';
    font-size:var(--font-size-16);
    line-height: 105%;
    text-transform: uppercase;
    color: #FFBC00;
    margin-bottom: var(--font-size-16);
}

.email,
.phone {
    display: flex;
    align-items: center;
}

.add-detail>*,
.email>a,
.phone a {

    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: 200%;
//     text-transform: capitalize;
    color: #50575D;
}

.services-tp>a {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size:var(--font-size-16);
    line-height: 200%;
    text-transform: capitalize;
    color: #50575D;
}

.pratise-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pratise-inner>* {
    width: 45%;
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size:var(--font-size-16);
    line-height: 200%;
    text-transform: capitalize;
    color: #50575D;
}

.b-logo {
    margin-bottom: var(--margin-70);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-logo img:nth-child(2) {
    width: 107px;
    height: 107px;
}

.b-logo img:nth-child(1) {
    width: var(--width-126);
    height: auto;
}

.cont-detail {
    margin-top: var(--font-size-60);
}
.cont-detail img{
    width:var(--font-size-20);
    height:var(--font-size-20);
    object-fit: cover;
}
.light {
    display: block;
    /*dec22*/
    width: var(--width-126);
    height: var(--height-51);
    /*dec22 ends here*/
}

.addholder .owl-nav {
    height: 50px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
}

.addholder .owl-carousel .owl-nav button.owl-next img {
    position: absolute;
    right: -5px;
    width: 11px;
}

.addholder .owl-carousel .owl-nav button.owl-prev img {
    position: absolute;
    left: -30px;
    width: 11px;
}

.address.addholder {
    position: relative;
    width: 62%;
}

.bottom-footer {
    background-color: #50575D;
    padding: var(--padding-28) 0px;
}

.bottom-inner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-inner>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-inner>div a,
.bottom-inner>div p {
    margin-right: var(--margin-28);
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-14);
    line-height: 200%;
    text-transform: capitalize;
    color: #FFFFFF;

}

.owl-theme .owl-nav [class*=owl-] img {
    transition: all .35s linear;
}

.owl-theme .owl-nav [class*=owl-] img:hover {
    background: var(--yellow);
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}

.copyright p {
    margin-bottom: 0px;
}

/*footer css ends here*/
/*vertical slider starts from here*/
.vslider   .owl-carousel {
    max-width:var(--width-211);
margin-left:var(--font-size-12);}
    .vslider{display:inline-block;}
   .vslider .owl-carousel  .owl-nav {
      display:none;
      }
    .vslider  .owl-carousel .owl-item  > h2 {
        font-size: var(--font-size-56);
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    display: block;
   text-align: left;
    color:var(--yellow)!important;
        
      }
    .vslider  .owl-carousel   .owl-prev {
        float: left;display:none;
      }
     .vslider .owl-carousel  .owl-next {
        float: right; display:none;
      }
/*vertical sliders ends here*/


/*client feedback ends here*/


/*Responsive starts here*/
.addrtext>*{margin-bottom:0px;}
.addholder .owl-carousel .owl-nav button.owl-next img {
    position: absolute;
    right:-60px;
    width: var(--font-size-12);
}

.addholder .owl-carousel .owl-nav button.owl-prev img {
    position: absolute;
    left: -60px;
    width:var(--font-size-12);
}
.address.addholder {
    position: relative;
    width: 62%;
}

.commercial-banner .owl-nav{display: block;
    top: 40%;
    position: absolute;
    width: 100%;}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev{left: 10%;
    position: absolute;width: var(--font-size-48);
    height: var(--font-size-48);}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev:hover .fa{
    color: var(--yellow);}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev .fa{
    font-size: var(--font-size-60);color:#fff;opacity:0.8}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next{right: 10%;
    position: absolute;width: var(--font-size-48);height: var(--font-size-48);}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next:hover .fa{
    color: var(--yellow);}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next .fa{
    font-size: var(--font-size-60);color:#fff;opacity:0.8}


.commercial-banner .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent !important;}

    .social a {
        width: var(--padding-28) !important;
        height: var(--padding-28) !important;
        background-color: var(--white);
        border-radius: 50%;
        margin-left: var(--width-28);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    .social a img {
    width: var(--font-size-16) !important;
    height: var(--font-size-16) !important;
}


@media screen and (max-width:1600px) {
    .addholder .owl-carousel .owl-nav button.owl-next img {
        position: absolute;
        right: 12px;
        width: var(--font-size-12);
    }
    .addholder .owl-carousel .owl-nav button.owl-prev img {
        position: absolute;
        left: -32px;
        width: var(--font-size-12);
    }
    .menu a.active::after {
    content: "";
    height: 1px;
    background-color: var(--yellow);
    position: absolute;
    top: var(--font-size-24);
    width: 100%;
    left: 0px;

}

}
@media screen and (max-width:1200px)
{
    .comm-banner .hbtns a.explore{height:35px;}
    .comm-banner .hbtns a.explore::after{padding:12px 0px;
        height: 35px!important;}
        .login a {
            width: 28px;
            height: 28px;}

            .login {
                width: 25%;
            }
}
@media screen and (max-width:990px) {
    :root {
        /* Font Size */
        --font-size-48: 3.34vw;
        --font-size-32: 25px;
        --font-size-18: 16px;
        --font-size-20: 18px;
        --font-size-24: 20px;
        --font-size-16: 14px;
        --font-size-30: 24px;
        --font-size-14: 12px;
        --font-size-60: 4.16vw;
        --font-size-50: 3.47vw;

    }
    .logo img {
        width: 110px;
    }
    .bottom-header{height:50px;}
    /*dec22*/
    

    .certifications {
        height: auto;
    }

  

    .client-feedback {
        height: auto;
        padding: 50px 0px;
    }

    /*testimonial*/
    .client-feedback .owl-item.active .feedback-item {
        width: 80%;
    }

    .client-feedback {
        height: 500px;
        padding:0px;
    }

    .client-feedback .owl-carousel .owl-item img{
        height:500px;
        object-fit: cover;
    }

    .feedback-item h1 {
        padding-bottom: 5px;
    }

    .nmloc {
        padding-top: 0px;
    }

    .client-feedback .owl-nav {
        bottom: 10px;
    }
  
    .client-feedback .owl-item.active .feedback-item{
        top:10%;
        transform: translate(-50%,0);
    }
}

@media screen and (max-width:845px) {

    .whatwedo,
    .about-us {
        flex-direction: column;
    }

    .wedo-text {
        width: 90%;
        margin: auto;
        padding: 50px 0px;
    }

    .wedoimg,
    .about-right {
        width: 100%;
    }

    .about-left {
        padding: 50px 0px;
        width: 90%;
        margin: auto;
    }

    .about-right {
        width: 100%;
    }

    .certifications {
        height: auto;
    }

    .top-banner .owl-carousel .owl-item img {
        height: auto;
    }

    .bottom-inner {
        flex-direction: column;
    }

    .bottom-inner>div {
        justify-content: flex-start;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:767px) {
   
    .view-projects {
        margin-top: 10px;
        padding: 10px;
    }

    .feedback-txt p {
        font-size: 14px;
    }

    .feedback-item h1 {
        font-size: 20px;
    }

    .achiv-holder {
        flex-direction: column;
    }

    .feedback-item h3 {
        margin-left: 0px;
    }

    .nmloc h2 {
        font-size: 18px;
    }

    .testimg {
        display: none !important;
    }

    .achiv-holder>div::after {
        display: none;
    }

    .achiv-holder {
        padding-top: 20px;
    }

    .certifications {
        padding: 50px 0px;
    }

    .client-feedback {
        height: auto;
    }

    .hotel-client .owl-carousel .owl-item img {
        width: 100px;
    }

    .service-practise {
        flex-direction: column;
    }

    .f-contact {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .f-services {
        width: 100%;
    }

    .add-detail,
    .cont-detail {
        width: 50%
    }

    .client-feedback .owl-item.active .feedback-item {
        width: 80%;
    }

    /*testimonial*/
    .client-feedback .owl-item.active .feedback-item {
        width: 90%;
    }
    .social a img {
    width: 18px !important;
    height: 18px !important;
    object-fit: contain;
}
.social a {
    width: 30px !important;
    height: 30px !important;
}
}

@media screen and (max-width:600px) {
    .hotel-banner {
        top: 60%;
    }

    .about-left {
        width: 100%;
        padding: var(--padding-45);
    }

    .about-right {
        width: 100%
    }

    .about-us {
        flex-direction: column;
    }

    :root {
        /* Font Size */
        --font-size-30: 20px;
    }

    .abs-inspired {
        width: 90%;
    }

    .hotel-banner {
        width: 100%;
        top: 35%;
        height: 300px;
    }

    .top-banner .owl-carousel .owl-item img {
        height: 300px;
    }

    .hotel-banner p {
        width: 90%;
        margin: 10px 0px;
    }

    .hotel-banner .hbtns a.explore {
        padding: 10px;
    }

    .hotel-banner .hbtns {
        margin-top: 15px;
    }

    .hotel-banner h1 {
        font-size: 20px;
    }

}

@media screen and (max-width:580px) {
    .humburger {
        top: 5px;
    }

    .abs-inspired h1 {
        margin-bottom: 10px;
    }

    .ins-more {
        padding: 10px;
    }

    .inspired-by {
        height: auto;
        padding: 40px 0px;
    }

    .achiv-holder>div p {
        font-size: 14px;
        font-family: 'Lorin';
    }

    .abs-inspired h1 {
        font-size: 18px;
    }

    .certificate-inner p {
        font-size: var(--font-size-14);
    }

    .achiv-holder>div h1 {
        font-size: 18px;
    }

    .certificate-inner h1 {
        width: 100%;
        text-align: center;
    }

    .certificate-inner p {
        width: 100%;
        text-align: center;
    }

    .about-head {
        font-size: 15px;
    }

    :root {
        /* Font Size */
        --font-size-30: 18px;
    }

    .nav-bar {
        background-color: #393b3a;
        /*  padding: var(--padding-23) 0px; dec22*/
        height: 40px;
    }

    .f-nav.nav-bar {
        background-color: #393b3a;
        /* padding: var(--padding-23) 0px;dec22*/
        height: 40px;
    }

    .menu {
        top: 40px;
    }

    .service-practise {
        width: 100%;
        margin: auto;
    }

    .about-left {
        width: 90%;
        padding: 45px 0px;
    }

    .owl-theme .owl-nav [class*=owl-] img {
        width: 30px !important;
        height: 30px !important;
    }

    .about-right {
        height: 250px;
    }

    .aboutcarsouel.owl-carousel .owl-item img {
        height: 200px;
    }

    .search a img {
        width: 28px;
    }

    /* .search a:nth-child(2) img{margin-left:11px;}dec22*/
    .about-txt p {
        font-size: 12px;
    }

    .about-ltext p {
        font-size: var(--font-size-14) !important;
    }

    .view-projects {
        font-size: var(--font-size-14) !important;
    }

    .light {
        width: 80px;
        height: auto;
    }

    .abs-inspired p,
    .ins-more {
        font-size: var(--font-size-14) !important;
    }

    .wedotext-inner h1 {
        font-size: var(--font-size-18) !important;
    }

    .wedotext-inner p {
        font-size: var(--font-size-14) !important;
    }

    .certificate-inner h1 {
        font-size: var(--font-size-18) !important;
    }

    .serive-item {
        height: 200px;
    }

    .hotel-services .owl-carousel .owl-item img {
        height: 200px;
    }

    .hotel-case .owl-carousel .owl-item img {
        height: 200px;
    }

    .hotel-case .owl-carousel .owl-item.active img {
        height: 200px;
    }

    .clientContainer {
        height: 60px;
    }

    .feedback-item h1 {
        font-size: 16px;
    }

    .nmloc h2 {
        font-size: 16px;
    }

    nmloc p {
        font-family: 'Lorin-bold';
        font-size: 14px;
    }

    .bottom-inner>div {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .nav-bar .menu ul li a {
        font-family: 'Lorin-bold';
        font-size: 14px;
    }

    .hotel-banner .hbtns a.explore,
    .view-projects,
    .ins-more {
        height: 40px;
        min-width: 162px
    }

    .services-tp>a,
    .pratise-inner>* {
        width: 100%;
    }

    .vslider .owl-carousel .owl-item > h2{
        font-size:18px;
    }
    .comm-banner{top:40%;}
    .comm-banner .hbtns{margin-top:15px;}

}

@media screen and (max-width:480px) {
   /*place 420 and 480 under 580*/
   .login {
    width: 20%;
}
}

@media screen and (max-width:580px) {


    .f-contact {
        flex-direction: column;
    }

    .add-detail,
    .cont-detail {
        width: 100%;
    }

    .address.addholder {
        width: 100%;
        text-align: left;
    }



    .addholder .owl-carousel .owl-nav button.owl-prev img {
        left: 88%
    }

    .b-logo img {
        width: 30% !important;
        height: 30% !important;
    }

    .b-logo img:nth-child(2) {
        width: 20% !important;
    }

    .hotel-client p {
        width: auto;
    }

    .light {
        width: 70px;
    }

    .search a.contact-search,
    .search a.login-search {
        font-size: 12px !important;
        height: 30px;
    }

    .f-services {
        flex-direction: column;
    }

    .pratices-tp {
        width: 100%;
    }

    .pratise-inner>* {
        width: 100%;
    }

    .services-tp,
    .pratices-tp {
        width: 100% !important;
        margin-top: 10px;
    }

    .services-tp>a,
    .pratise-inner>* {
        width: 100%;
        float: left;
    }

    .f-services h1,
    .add-detail h1,
    .cont-detail h1 {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .flinks a {
        width: 100%;
    }
}


/*dec22*/
.search a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
}

/*dec22*/



.taglineHolder {
    position: relative;
}

.tagLine-text p {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 10px;
    /* padding: 5px 30px; */
    padding: 5px 10px 5px 33px;
    background-color: var(--yellow);
    width: var(--width-126);
    border-radius: 34px 0px 0px 0px;
    font-family: 'Lorin';

}


.child-menu.showmenu {
    opacity: 1;
    left: 0;
    top: 35px !important;
}
@media screen and (max-width:767px)
{
    :root {
        
        /*fonts*/
        --font-size-12:10px;
     
        --font-size-16:14px;
        --font-size-18:16px;
        --font-size-20:18px;
        --font-size-24: 20px;
        --font-size-30: 22px;
        --font-size-32: 28px;
        --font-size-48: 30px;
        --font-size-50: 45px;
        

        --font-size-56:22px;
        --font-size-30:18px;
        --font-size-20:16px;
        --font-size-14:12px;


        --font-size-60: 50px;
    }

    .top-header{
        height:30px;
    }

    .top-header>div.sicons{display:none;}
    .top-header>div.cont-info{width:100%;}
    
   
        .values>div{width:100%;}
        .values{flex-direction: column;}
        .values>div:nth-child(2)::before,.values>div:nth-child(2)::after{
            display:none;
        }

        .comm-about{flex-direction: column-reverse;}
        .left-about{width:100%;}
        .abs-video {
            position: relative;
            width: 100%;
            height: 250px;
        }
        .right-about{width:100%; padding:20px; margin-bottom:15px;}
        .comm-services{margin-top:40px;}
        .service-content h2{margin-bottom: 15px;}
        .right-about p {
            font-size: var(--font-size-14);
        }

        .service-images{flex-wrap:wrap;}
        .service-images>div{width:48%; margin-bottom:10px;}
        .abs-service h2{font-size:25px;}
        .abs-service p{font-size:14px;}
        .why-different{margin-top:15px; flex-direction: column;}
        .why-different>div{width:100%;}
        .list-holder li{font-size:var(--font-size-14);}
        .why-diff-right img {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }

        .project-text p{width:90%;}
        .project-text h3{width:200px;}
        .hotel-client p{width:90%; font-size:var(--font-size-16);}
        .hotel-client h1{margin-top:40px; margin-bottom:20px;}
        .nav-holder .nav-pills .nav-link,.nav-holder .nav-pills .nav-link.active{font-size:12px;}
        .project-header{flex-wrap: nowrap;}
        .project-header li{margin-right:10px;}
        .clientContainer .owl-nav,.clientContainer .owl-dots{
            display:none;
        }

        .logo img {
            width: 80px;
        }
        .bottom-header{height:40px;}
}

@media screen and (max-width:520px)
{
    .btm-holder {
        background: rgba(80,87,93,.72);
        backdrop-filter: blur(7.5px);
    }
    .project-header li {
    margin-right: 8px;
    margin-bottom: 5px;
}
.project-header {
    justify-content: flex-start;
}
}

@media screen and (max-width:480px)
{
    .top-header {
        height: auto;
        padding: 10px 0px;
    }
    .commercial-banner{
        height:350px;
    }
    .commercial-banner .owl-carousel .owl-item img{
        height:350px;
    }
    .comm-banner h1{font-size:18px;}
    .cont-info>div{font-size:10px;}
    .service-images>div{width:95%; height:200px;}
    .service-images>div img{height:200px;}
    #all .case-item,#all .owl-carousel .owl-item img{height:200px; object-fit:cover;}
    .logo img {
        width: 55px;
        object-fit: contain;
    }
    .menu a{font-size:12px;}
    .login a {
    width: 29px;
    height: 14px;
}
.login img {
    width: var(--font-size-12) !important;
    object-fit: contain;
}
.social a img {
    width: 10px !important;
    height: 18px !important;
    object-fit: contain;
}
.social a {
    width: 20px !important;
    height: 20px !important;
    margin-left: 0px !important;
}
}

@media screen and (max-width:375px)
{
    .vslider .owl-carousel .owl-item > h2{font-size:15px;}
    .comm-banner h1{font-size:15px;}
}

@media screen and (max-width:370px)
{
    .cont-info>div img{display:none;}
}

@media screen and (max-width: 359px)
{
.login {
    position: fixed;
    right: 0;
    flex-direction: column;
    width: 40px;
    background: var(--yellow);
    padding: 10px 0px;
    top: 183%;
    margin: 10px;
    margin-right:0px;
}
.login a:nth-child(1)
{
    margin-bottom:10px;
}
.comm-banner{width:80%;}

.nav-holder .nav-pills .nav-link, .nav-holder .nav-pills .nav-link.active{
    font-size:10px;
}
}
/*Responsive ends here*/