/*header css starts from here*/
.nav-bar.f-nav {
    background-color: rgba(80, 87, 93, 0.9);
}
.nav-bar.f-nav .nav-inner {
    padding: 5px 0px;
}

.nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul:first-child {
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}



.child-menu {
    display: none;
}

.nav-inner {
    width: 90%;
    margin: auto;
    align-items: center;
}
/*.search-div{width:50%; text-align: right;}
.search-div input[type="text"] {
    background-image: url('../hotel-landing/Search.png');
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border-color: transparent;
    background-position: center;
    cursor: pointer;
    -webkit-transition: width .35s linear;
    transition: width .35s linear;
    outline: none;
}

.search-div input[type=text]:focus {
    width: 80%;
    border-radius: 5px;
    background-position: 95% 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-color: transparent;
    outline: none;
    border: 1px solid #333333;

}*/

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.top-banner .owl-carousel .owl-item img.unionpng
 {
    width:31px!important;
    height:6px!important;
    margin-left:var(--padding-23);
}
.drop-down a img{
    width: 10px;
    margin-left: 5px;
}
.nav-bar .menu ul li a {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-14);
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
}

.search a.contact-search {
    font-family: 'Lorin-xbold';
    font-size: var(--font-size-14);
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    background: #FFBC00;
    padding: 10px 5px;
    display: flex;
    align-items: center;
   width:45%;
    justify-content: center;
}

.search a.login-search {
    font-family: 'Lorin-xbold';
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 24px;
    border: 2px solid #FFBC00;
    padding: 10px 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    width:45%;
    justify-content: center;
}

.search {
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0px;
    transition: all .35s linear;
    background-color:rgba(80,87,93, 0%);
    padding:var(--padding-23) 0px;
}

.f-nav.nav-bar {
    position: fixed;
    background-color:rgba(80, 87, 93, 0.9);
    padding:15px 0px;
    top: 0px;
}

.f-nav.nav-bar .menu ul li a {
    font-family: 'Lorin-xbold';
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    ;
    text-decoration: none;
}

@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

/*.top-banner .item img{
position:relative;
}

.top-banner .item img::after{
content:"";
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background-color: linear-gradient(90.49deg, rgba(0, 0, 0, 0.6) 1.47%, rgba(0, 0, 0, 0) 29.5%), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 27.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}*/

  @font-face {
    font-family:'Lorin';
    src: url('/web/static/src/custom_fonts/Lorin-Regular.eot');
    src: local('/web/static/src/custom_fonts/Lorin Regular'), local('/web/static/src/custom_fonts/Lorin-Regular'),
        url('/web/static/src/custom_fonts/Lorin-Regular.eot?#iefix') format('embedded-opentype'),
        url('/web/static/src/custom_fonts/Lorin-Regular.woff2') format('woff2'),
        url('/web/static/src/custom_fonts/Lorin-Regular.woff') format('woff'),
        url('/web/static/src/custom_fonts/Lorin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Lorin-bold';
    src: url('/web/static/src/custom_fonts/Lorin-Bold.eot');
    src: local('/web/static/src/custom_fonts/Lorin Bold'), local('Lorin-Bold'),
        url('/web/static/src/custom_fonts/Lorin-Bold.eot?#iefix') format('embedded-opentype'),
        url('/web/static/src/custom_fonts/Lorin-Bold.woff2') format('woff2'),
        url('/web/static/src/custom_fonts/Lorin-Bold.woff') format('woff'),
        url('/web/static/src/custom_fonts/Lorin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:'Lorin-xbold';
    src: url('/web/static/src/custom_fonts/Lorin-ExtraBold.eot');
    src: local('/web/static/src/custom_fonts/Lorin ExtraBold'), local('Lorin-ExtraBold'),
        url('/web/static/src/custom_fonts/Lorin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/web/static/src/custom_fonts/Lorin-ExtraBold.woff2') format('woff2'),
        url('/web/static/src/custom_fonts/Lorin-ExtraBold.woff') format('woff'),
        url('/web/static/src/custom_fonts/Lorin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
