/*header css starts from here*/
.nav-bar.f-nav {
    background-color: rgba(80, 87, 93, 0.9);
}

.nav-bar.f-nav .nav-inner {
    padding:var(--font-size-12) 0px;/*dec22*/
}

.nav-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul:first-child {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom:0px;

}


/*dec22*/

.drop-down{
    position: relative;
    transition:all .35s linear;
}

.drop-down:hover .child-menu {
    top:var(--height-90);
   opacity:1;
}
.child-menu {
    opacity:0;
min-width:var(--width-162);
position: absolute;
background-color: #FFBC00;
color: #fff;
top:76px;
padding: 10px;
left: -20%;
-webkit-box-shadow: 0 0 5px 2px #fff;
-moz-box-shadow: 0 0 5px 2px #fff;
box-shadow: 0 0 5px 2px #0908081c;
border-radius: 2px;
transition:all .35s linear;


}
.child-menu  li{
    list-style-type:none;
    margin-bottom: 10px;
    height:auto!important;
}
.child-menu  li a{
    font-size:var(--font-size-14);
    font-family: 'Lorin';
    text-transform: capitalize;
}

.drop-down .child-menu  li a:hover{
    color:#50575D!important;
}
.nav-inner {
    width: 90%;
    margin: auto;
    align-items: center;
    height:100%;
}

/*.search-div{width:50%; text-align: right;}
.search-div input[type="text"] {
    background-image: url('/cids_theme_odoo_15/static/src/img/images/Search.png');
    background-repeat: no-repeat;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    border-color: transparent;
    background-position: center;
    cursor: pointer;
    -webkit-transition: width .35s linear;
    transition: width .35s linear;
    outline: none;
}

.search-div input[type=text]:focus {
    width: 80%;
    border-radius: 5px;
    background-position: 95% 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-color: transparent;
    outline: none;
    border: 1px solid #333333;

}*/

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.top-banner .owl-carousel .owl-item img.unionpng {
    width: 31px !important;
    height: 6px !important;
    margin-left: var(--padding-23);

}



.drop-down a img {
    width: 10px;
    margin-left: 5px;
}

.nav-bar .menu ul li a {
    font-family: 'Lorin';/*dec22*/
    font-size: var(--font-size-14);
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    text-transform:capitalize;/*dec22*/
}

.search a.contact-search {
    width:var(--padding-28);
    height:var(--padding-28);
    background-color:var(--white);
    border-radius:50%;
    justify-content: center;
    align-items: center;
    display:flex;
    position:relative;
    overflow:hidden;
}
.search a.contact-search::after{
    content:url('/cids_theme_odoo_15/static/src/img/images/Profile-1.svg');
    background-color: var(--yellow);
    width:var(--padding-28);
   height:0px;
   position:absolute;
   bottom: 0px;
   border-radius:50%;
   opacity:0;
   transition: all .35s linear;
   justify-content: center;
   align-items: center;
   display:flex;
   left:0;
   right:0;

}

.search a.contact-search:hover::after
{
   opacity:1;
    height:var(--padding-28);
}
.search a.contact-search:hover{
  /*  background-color: var(--white);dec22*/
    color:var(--yellow);
}
/*dec22*/
.search a.login-search {
   width:var(--padding-28);
   height:var(--padding-28);
   background-color:var(--white);
   border-radius:50%;
   margin-right:var(--width-28);
   display:flex;
   justify-content: center;
   align-items: center;
   position:relative;
   overflow:hidden;
}

.search a.login-search::after{
    content:url('/cids_theme_odoo_15/static/src/img/images/Call-1.svg');
    background-color: var(--yellow);
    width:var(--padding-28);
   height:0px;
   position:absolute;
   bottom: 0px;
   border-radius:50%;
   opacity:0;
   transition: all .35s linear;
   justify-content: center;
   align-items: center;
   display:flex;
   left:0;
   right:0;

}

.search a.login-search:hover::after
{
   opacity:1;
    height:var(--padding-28);
}
.search a.login-search img{
    width:var(--font-size-28);
    height:var(--font-size-28);
}
.search a.contact-search img{
    width:var(--font-size-28);
    height:var(--font-size-28);

}
.search a.login-search :hover{
   /* background-color: var(--white); dec22*/
    color:var(--yellow);
}

.search {
    width:12%; /*dec22*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-bar {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0px;
    transition: all .35s linear;
   /* background-color: rgba(80, 87, 93, 0.5);
    padding: var(--padding-23) 0px;*/
}

.f-nav.nav-bar {
    position: fixed;
    background-color: rgba(80, 87, 93, 0.9);
    backdrop-filter: blur(7.5px);
   /* padding:var(--font-size-16) 0px;  /*dec22*/
    top: 0px;
}

.f-nav.nav-bar .menu ul li a {
    font-family: 'Lorin';/*dec22*/
    text-transform: capitalize;/*dec22*/
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    ;
    text-decoration: none;
}
/*dec22*/
.f-nav.nav-bar .menu>ul li{
    position:relative;
    height:var(--height-90);
    display:flex;
    align-items: center;
}
.nav-bar .menu>ul li{
    height:var(--height-90);
    display:flex;
    align-items: center;
}
@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

/*.top-banner .item img{
position:relative;
}

.top-banner .item img::after{
content:"";
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background-color: linear-gradient(90.49deg, rgba(0, 0, 0, 0.6) 1.47%, rgba(0, 0, 0, 0) 29.5%), linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 27.99%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}*/
/*header menu ends here*/
//Commented for header for login page 29/12/2022
// .oe_website_login_container {
//     padding-top: 50px;
// }
.addrtext p{
margin-bottom:0px !important
}
