        html,
        body {
            overflow-x: hidden;
        }

        .item-cust-left img {
            max-width: 100%;
        }

        .owl-theme .owl-nav [class*="owl-"] {
            border-radius: 0px;
        }

        .abs-why-us .process-header h1::after {
            background-color: #F7F7F7;

        }

        .gallery-item {
            width: 100%;
            height: 351px;
            object-fit: cover;
        }

        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5,
        .col-6,
        .col-7,
        .col-8,
        .col-9,
        .col-10,
        .col-11,
        .col-12,
        .col,
        .col-auto,
        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm,
        .col-sm-auto,
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md,
        .col-md-auto,
        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg,
        .col-lg-auto,
        .col-xl-1,
        .col-xl-2,
        .col-xl-3,
        .col-xl-4,
        .col-xl-5,
        .col-xl-6,
        .col-xl-7,
        .col-xl-8,
        .col-xl-9,
        .col-xl-10,
        .col-xl-11,
        .col-xl-12,
        .col-xl,
        .col-xl-auto {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        * {
            margin: 0px;
            padding: 0px;
            letter-spacing: 0px !important;
        }

        .about-banner {
            background-image: url('/cids_theme_odoo_15/static/src/img/landing/h-banner.png');
            height: 100vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-origin: padding-box;
        }

        .abs-cont {
            width: 60%;
            background-color: rgba(0, 0, 0, .76);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            -webkit-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
            -webkit-transform: skew(-10deg);
            -ms-transform: skew(-10deg);
            transform: skew(-10deg);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .abs-cont::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            width: 2px;
            background-color: #FFBC00;
        }

        .about-text h1 {
            font-family: 'Lorin-xbold';
            font-size: 64px;
            color: #fff;
        }

        .about-text h1 span {
            color: #FFBC00
        }

        .about-text {
            width: 80%;
            -webkit-transform: skew(10deg);
            -ms-transform: skew(10deg);
            transform: skew(10deg);
            margin-left: 10% !important;
        }

        .about-text p {
            font-family: 'Lorin';
            font-size: 24px;
            letter-spacing: 1px;
            color: #FCFCFC;
            margin-top: 24px;
            margin-bottom: 34px;
        }

        .getInTouch {
            background: #FFBC00;

            padding: 16px 32px;
            display: inline-block;
            margin-top: 34px;
            text-decoration: none;
            font-family: 'Lorin-xbold';
            font-size: 18px;

            text-transform: capitalize;

            color: #FFFFFF;
        }


        .cids-left .backcolored-div {
            background-color: #FFBC00;
            width: 70%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        .absimagediv img:first-child {
            width: 20%;
            height: 80%;
            align-self: center;
            object-fit: cover;

        }

        .absimagediv img:last-child {
            width: 20%;
            height: 80%;
            align-self: center;
            object-fit: cover;

        }

        .absimagediv img:nth-child(2) {
            width: 50%;
            object-fit: cover;

        }

        .cids-right h1 {
            font-family: 'Lorin-xbold';
            font-size: 32px;
            text-transform: uppercase;
            padding-left: 27px;
            color: #FFBC00;
            position: relative;
            margin-bottom: 24px;
        }

        .cids-right p {
            font-family: 'Lorin';
            font-size: 16px;
            letter-spacing: 1px;
            color: #50575D;
        }

        .cids-right h1::after {
            content: "";
            height: 2px;
            background-color: #50575D;
            width: 27px;
            left: 0;
            top: 18px;
            position: absolute;
        }

        .about-cids {
            display: flex;
            justify-content: space-between;
            padding: 104px 0px;
            width: 90%;
            margin: auto;
        }

        .about-cids>div {
            width: 50%;
            position: relative;
            padding-left: 24px;
        }

        .absimagediv {
            position: absolute;
            top: 42px;
            bottom: 42px;
            left: 0;
            display: flex;
            justify-content: space-between;
            right: 0;

        }

        .absimagediv img {
            height: 100%;
        }

        .achivment {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .achivment>div {
            width: 193px;
            flex-wrap: wrap;
            background-color: rgba(80, 87, 93, 0.08);
            text-align: center;
            padding: 16px;
            position: relative;
        }

        .achivment>div::after {
            position: absolute;
            top: -5px;
            left: 0;
            right: 0;
            content: "";
            background-color: #50575D;
            height: 2px;
        }

        .achivment>div h2 {
            font-family: 'Lorin-xbold';
            font-size: 32px;
            text-transform: capitalize;
            color: #FFBC00;
        }

        .achivment>div p {
            font-family: 'Lorin-xbold';
            margin-top: 16px;
            font-size: 18px;
            line-height: 105%;
            letter-spacing: 0px;
            text-transform: capitalize;

            color: #50575D;
        }

        .contact {
            background-color: #FFBC00;
            padding: 16px 24px;

            font-family: 'Lorin-xbold';
            display: inline-block;
            margin-top: 88px;
            font-size: 18px;

            text-transform: capitalize;
            text-decoration: none;
            color: #FFFFFF;
        }

        .cid-process {
            width: 90%;
            margin: auto;
            margin-bottom: 104px;
        }

        .process-header {
            text-align: center;
        }

        .process-header h1 {
            font-family: 'Lorin-xbold';
            display: inline-block;
            font-size: 32px;
            position: relative;
            text-transform: uppercase;
            padding-left: 27px;
            color: #FFBC00;
        }

        .process-header h1::after {
            content: "";
            height: 2px;
            background-color: #50575D;
            width: 27px;
            left: 0;
            top: 18px;
            position: absolute;
        }

        .happy-customers .process-header h1::after {
            background-color: #F7F7F7;
        }

        .process-header p {
            font-family: 'Lorin';
            font-size: 16px;
            text-align: center;
            color: #50575D;
            width: 80%;
            margin: auto;
            margin-top: 24px;
            letter-spacing: 1px;
        }

        .process-types {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
        }

        .process-types>div {
            width: 30%;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            padding: 24px;
        }

        .process-types>div div {
            border: 1px solid #FFBC00;
            padding: 28px;
            text-align: center;
        }

        .process-types>div div img {
            display: block;
            margin: auto;
        }

        .process-types>div div h2 {
            font-family: 'Lorin-xbold';
            font-size: 16px;
            text-transform: capitalize;
            color: #50575D;
            margin: 16px 0px 8px 0px;
        }

        .process-types>div div p {
            font-family: 'Lorin';
            font-size: 14px;
            text-align: center;
            color: #50575D;
            letter-spacing: 1px;
        }

        .hservice-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
        }

        .hservice-inner>div {
            width: 32%;
            position: relative;
            animation: all .25s linear;
        }

        .hservice-inner>div::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 65px;
            left: 0;
            right: 0;
            background-color: #0000006e;
            display: none;
        }

        .hservice-inner>div:hover::after {
            display: block;
        }

        .hservice-inner>div img {
            max-width: 100%;
            width: 100%;
            min-height: 500px;
            object-fit: cover;
            height: 100%;
        }

        .hservice-inner>div:hover .absdiv {
            background-color: #FFBC00;
        }

        .hservice-inner>div:hover .absdiv p {
            color: #50575D;
        }

        .hservice-inner>div:hover .absdiv span {
            color: #fff;
        }

        .hservice-inner .absdiv {
            background: #50575D;
            padding: 15px;
            text-align: center;
            bottom: 0px;
            position: absolute;
            left: 0px;
            right: 0px;
        }

        .hservice-inner .absdiv p {
            font-family: 'Lorin-xbold';
            font-size: 18px;
            letter-spacing: 0.08em;
            color: #FFFFFF;
            margin-bottom: 0px;
        }

        .hservice-inner .absdiv p span {
            font-family: 'Lorin-xbold';
            font-size: 24px;
            letter-spacing: 0.08em;
            color: #FFBC00;
            display: inline-block;
            margin-right: 8px;
        }

        .hotel-services {
            width: 90%;
            margin: auto;
            margin-bottom: 104px;
        }

        .hotel-projects {
            margin-bottom: 104px;
            overflow-x: hidden;
        }

        .happy-customers {
            min-height: 700px;
            background: linear-gradient(rgba(80, 87, 93, .91), rgba(80, 87, 93, .91)), url('/cids_theme_odoo_15/static/src/img/landing/h-banner.png');
            padding: 85px 62px 62px 62px;
        }

        .happy-customers p {
            color: #fff !important;
        }

        .item-customers {
            background-color: #EEEEEE;
            display: flex;
            justify-content: flex-start;
            width: 80%;
            margin: auto;
            margin-top: 24px;
        }

        .star-holder {
            display: flex;
        }

        .star-holder>* {
            margin-right: 6px;
            width: 25px !important;
        }

        .item-cust-right {
            padding: 76px 28px;
            padding-bottom: 0px;
        }

        .item-cust-right .appre-text {
            padding-left: 45px;
        }

        .appre-text {
            position: relative;
            margin-top: 33px;
        }

        .appre-text .simg {
            position: absolute;
            top: 0;
            left: 0;
            width: 32px !important;
            height: 32px !important;
        }

        .appre-text .limg {
            transform: rotate(180deg);
            border: 10px;
            position: absolute;
            right: 0px;
            width: 32px !important;
            height: 32px !important;
        }

        .simg+p {
            font-family: 'Lorin';
            font-size: 14px;
            line-height: 18px;
            color: #50575D !important;
            letter-spacing: 1px;
        }

        .cust-name {
            padding: 33px 0px 45px 45px;
            padding-bottom: 0px;
        }

        .cust-name h4 {
            font-family: 'Lorin-xbold';
            font-size: 16px;
            line-height: 16px;
            color: #50575D;
        }

        .cust-name p {
            color: #50575D !important;
            margin-top: 5px;
        }

        .why-us {
            background-image: url("/cids_theme_odoo_15/static/src/img/landing/why-us.png");
            background-repeat: no-repeat;
            height: 700px;
            background-size: cover;
            margin-top: 104px;
            display: flex;
            justify-content: flex-end;
            padding-right: 5%;
            align-items: flex-end;
            margin-bottom: 0px;
            align-items: center;
        }

        .abs-why-us {
            min-width: 720px;
            background: #50575D;
            padding: 36px 28px;
            width: 50%;
        }

        .why-us-inner {
            border: 0.5px solid rgba(255, 188, 0, 0.6);
            padding: 78px 60px;
        }

        .why-us-inner .process-header {
            text-align: left !important;
        }

        .why-us-inner .process-header p {
            color: #fff !important;
            width: 100%;
            text-align: left;
        }

        .why-us-contact {
            font-family: 'Lorin-xbold';
            font-size: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
            display: inline-block;
            background: #FFBC00;

            margin-top: 56px;
            padding: 16px 32px;
            text-decoration: none;
        }

        .item-cust-left {
            min-width: 272px;
            max-width: 100%;
        }

        .happy-customers .owl-theme .owl-nav {
            position: absolute;
            top: 40%;
            left: 0px;
            right: 0px;
        }

        .happy-customers .owl-carousel .owl-nav button.owl-prev {
            width: 50px;
            left: 0px;
            position: absolute;
            transform: rotate(180deg);
            background: #FFBC00;
            padding: 10px !important;
        }


        .happy-customers .owl-carousel .owl-nav button.owl-next {
            width: 50px;
            right: 0px;
            position: absolute;
            background: #FFBC00;
            padding: 10px !important;
        }

        .happy-customers .owl-theme .owl-dots .owl-dot {
            margin-top: 33px;

        }

        .happy-customers .owl-theme .owl-dots .owl-dot.active span {
            border: 2px solid #FFBC00;
        }

        .happy-customers .owl-theme .owl-nav [class*=owl-]:hover {
            background: #FFBC00 !important;
        }

        .animation-element.slide-left {
            opacity: 0;
            -moz-transition: all 500ms linear;
            -webkit-transition: all 500ms linear;
            -o-transition: all 500ms linear;
            transition: all 500ms linear;
            -moz-transform: translate3d(-100px, 0px, 0px);
            -webkit-transform: translate3d(-100px, 0px, 0px);
            -o-transform: translate(-100px, 0px);
            -ms-transform: translate(-100px, 0px);
            transform: translate3d(-100px, 0px, 0px);
        }

        .animation-element.slide-left.in-view {
            opacity: 1;
            -moz-transform: translate3d(0px, 0px, 0px);
            -webkit-transform: translate3d(0px, 0px, 0px);
            -o-transform: translate(0px, 0px);
            -ms-transform: translate(0px, 0px);
            transform: translate3d(0px, 0px, 0px);
        }

        .tags-bar {
            background-color: #50575D;
            justify-content: center;
        }

        .gallery .nav-pills .nav-link {
            border-radius: 0px;
        }

        .gallery .nav-pills .nav-link.active {
            color: #FFBC00 !important;
            background-color: #6B7379 !important;
        }

        .gallery .nav-pills .nav-link {
            color: #949494 !important;
            cursor: pointer;
            font-family: 'Lorin-bold';
            padding: 23px;
            font-size: 18px;
            text-transform: capitalize;
        }

        .gallery .h-100 {
            overflow: hidden;
            position: relative;
            transition: all .35s linear;
        }

        .gallery .img-fluid {
            max-width: 100%;
            height: 350px;
            max-height: 100%;
            object-fit: cover;
        }

        .gallery-item+div {
            position: absolute !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .bg-danger {
            background-color: #000000bf !important;
            transition: all .35s linear;
            opacity: 0;
        }

        .gallery .h-100:hover .bg-danger {
            opacity: 1;
            background-color: #000000bf !important;
        }

        .spa {
            color: #fff;
            font-family: 'Lorin-bold';
            font-size: 18px;
            text-transform: capitalize;
        }

        .hilton {
            color: #FFBC00;
            font-family: 'Lorin-bold';
            font-size: 18px;
            text-transform: capitalize;

        }

        .gallery {
            margin-top: 32px;
        }

        @media screen and (max-width:1600px) {
            .about-text h1 {
                font-size: 40px;
            }

            .about-text p {
                font-size: 18px;
            }

            .getInTouch,
            .contact,
            .why-us-contact {
                padding: 7px 32px;
                font-size: 16px;
            }

            .cids-right h1,
            .process-header h1 {
                font-size: 25px;
            }

            .cids-right h1::after,
            .process-header h1::after {
                top: 13px;
            }

            .lead.spa span {
                font-size: 16px !important;
            }

            .achivment>div {
                width: 26%;
                flex-wrap: wrap;
                background-color: rgba(80, 87, 93, 0.08);
                text-align: center;
                padding: 16px;
                position: relative;
            }
        }


        @media screen and (max-width:1280px) {
            .achivment>div {
                width: 29%;
            }

            .achivment>div p {
                font-size: 16px;
            }
        }

        @media screen and (max-width:990px) {
            .about-text {
                width: 70%;
            }

            .about-cids {
                flex-direction: column-reverse;
                padding: 40px 0px;
            }

            .about-cids>div {
                width: 100%;
            }

            .cids-right h1 {
                font-size: 25px;
            }

            .cids-right h1::after,
            .process-header h1::after {
                top: 12px;
            }

            .achivment>div h2,
            .process-header h1 {
                font-size: 25px;
            }

            .achivment>div p {
                margin-top: 5px;
            }

            .contact {
                margin-top: 30px;
            }

            .cids-left .backcolored-div {
                min-height: 450px;
            }

            .cids-left {
                margin-top: 30px;
            }

            .process-header p {
                margin-top: 10px;
            }

            .process-types>div div {
                padding: 10px;
            }

            .process-types>div {
                padding: 10px;
                width: 31%;
            }

            .cid-process {
                margin-bottom: 40px;
            }

            .why-us {
                margin-top: 40px;

            }

            .hservice-inner>div img {
                min-height: 350px;
            }

            .hservice-inner .absdiv p {
                margin-bottom: 0px;
            }

            .item-customers {
                flex-direction: column;
            }

            .item-cust-right {
                padding: 15px 28px;
            }

            .item-cust-left img {
                width: 100px;
                height: 100px;
                display: block;
                margin: auto;
                border-radius: 50%;
                object-fit: cover;
                margin-top: 20px;
            }

            .star-holder {
                justify-content: center;
            }

            .cust-name {
                padding-top: 15px;
            }

            .abs-why-us {
                min-width: auto;
                width: 75%;
            }

            .why-us {
                height: auto;
                justify-content: center;
            }

            .why-us-inner {
                padding: 40px;
            }


            .happy-customers .owl-carousel .owl-item img {
                width: 120px;
                height: 120px;
            }

            .about-text {
                width: 70%;
                margin-left: 15% !important;
            }

            .about-text h1 {
                font-size: 30px;
            }

            .star-holder>img {
                width: 25px !important;
                height: 25px !important;
            }

            h1 {
                font-size: 20px !important;
            }

            .h-footer-inner>div:nth-child(2) {
                width: 50% !important;
            }

            .h-footer-inner>div:last-child {
                width: 20% !important;
            }

        }

        @media screen and (max-width:767px) {

            .hotel-projects,
            .hotel-services {
                margin-bottom: 40px;
            }

            .about-text h1 {
                font-size: 30px;
            }

            .process-types,
            .hservice-inner {
                flex-direction: column;
            }

            .process-types>div,
            .hservice-inner>div {
                width: 100%;
                margin-bottom: 15px;
            }

            .hservice-inner>div img {
                min-height: 150px;
                height: 200px;
            }

            .hservice-inner .absdiv p {
                font-size: 16px;
            }

            .hservice-inner .absdiv p span {
                font-size: 16px;
            }

            .hservice-inner .absdiv {
                padding: 10px;
            }

            .happy-customers {
                padding: 20px 0px;
            }

            .abs-why-us {
                width: 90%;
            }

            .why-us-contact {
                margin-top: 20px;
            }

            .about-cids>div {
                padding-left: 0px;
            }

            .about-banner {
                height: 380px !important;
                position: relative;
            }

            .abs-cont {
                width: 90%;
                padding-top: 30px;
            }

            .getInTouch {
                margin-top: 0px;
            }


            .star-holder img {
                width: 20px !important;
                height: 20px !important;
            }

            .appre-text img {

                width: 24px !important;
                height: 24px !important;
            }

            .about-text {
                width: 80%;
                margin-left: 6% !important;
            }

            h1 {
                padding-left: 0px !important;
            }

            .cids-right h1::after,
            .process-header h1::after {
                display: none;
            }

            .why-us {
                padding-right: 0px !important;
            }

            .h-footer-inner>div:first-child,
            .h-footer-inner>div:nth-child(2),
            .h-footer-inner>div:last-child {
                width: 100% !important;
            }

            .h-footer-inner {
                flex-direction: column;
            }

            .b-logo img {
                width: 115px!important;
                margin-bottom:15px;
            }
        }


        @media screen and (max-width:680px) {
            .h-top {
                justify-content: flex-start !important;
            }

            .h-contact {
                position: absolute !important;
                right: 0 !important;
                top: 10px !important;
                background: #50565e !important;
                padding: 5px 10px !important;
                right: 5% !important;
            }

            .logo-holder img {
                width: 95px !important;
                transition: all .35s linear;
            }
        }

        @media screen and (max-width:580px) {
            .about-text h1 {
                font-size: 18px !important;
            }

            .about-text p {
                font-size: 15px !important;
            }

            p {
                font-size: 14px !important;
            }

            .cids-right p {
                text-align: center;
            }

            .contact {
                margin-top: 5px;
                display: flex;
                justify-content: center;
            }
        }

        @media screen and (max-width:520px) {
            .gallery-item img {
                height: 150px !important;
                width: 100% !important;
                object-fit: cover !important;
            }

            .gallery .nav-pills .nav-link {
                padding: 10px;
                font-size: 16px;
            }

            .about-banner {
                height: 400px !important;
                position: relative;
            }

            .about-text p {
                margin-top: 5px;
            }
            .services-tp>a,.pratices-tp>a{
                width:50%!important;
            }
        }

        @media screen and (max-width:480px) {
            .cids-right h1 {
                font-size: 18px;
            }

            .achivment {
                flex-direction: column;
            }

            .achivment>div {
                width: 100%;
                margin-bottom: 20px;
            }

            .contact {
                margin-top: 5px;
            }

            .cids-left .backcolored-div {
                min-height: 300px;
                width: 80%;
            }

            .process-header h1 {
                font-size: 18px;
            }

            .why-us-inner {
                padding: 20px;
            }

            .about-text h1 {
                font-size: 18px;
            }

            .about-text {
                width: 70%;
            }

            .why-us-contact {
                padding: 7px 20px;
            }

            .gallery .nav-pills .nav-link {
                font-size: 12px;
            }

            .about-text {
                width: 70%;
                margin-left: 5% !important;
            }

            .cids-right h1::after,
            .process-header h1::after {
                display: none;
            }

        }

        /*Responsive Ends here*/


        /*header new starts here*/
        .h-header {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 99;
            top: 0;
            transition: all .35s linear;
        }

        .f-nav.h-header {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 99;
            top: 0;
        }

        .f-nav.h-header .h-inner {
            padding: 8px 0px;
        }

        .f-nav.h-header .logo-holder img {
            width: 115px;
        }

        .f-nav.h-header .h-bottom {

            padding: 8px 0px;

        }

        .h-inner-holder {
            width: 90%;
            margin: auto;

        }

        .h-inner {
            background-color: #FFBC00;
            padding: 16px 0px;
            transition: all .35s linear;

        }

        .h-top {
            display: flex;
            justify-content: flex-end;
        }

        .h-top a {
            color: #fff;
        }

        .h-top img {
            width: 17px;
            height: 17px;
        }

        .h-top>div {
            margin-left: 16px;
        }

        .h-bottom {
            background-color: #50575D;
            padding: 12px 0px;
            transition: all .35s linear;
        }

        .h-bottom-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo-holder img {
            width: 130px;
            transition: all .35s linear;
        }

        .h-links a {
            color: #fff;
            text-decoration: none;
            font-family: 'Lorin';
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            margin-left: 20px;
            display: inline-block;
            position: relative;
        }

        .h-links a.active::after {
            content: "";
            background: #FFBC00;
            border-radius: 8px 8px 0px 0px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            height: 4px;
            position: absolute;
            top: 27px;
            left: 0;
            width: 100%;
        }

        .h-links a:first-child {
            margin-left: 0px;
        }

        .h-contact {
            background: #FFBC00;
            border-radius: 8px;
            font-family: 'Lorin-xbold';
            font-size: 18px;
            line-height: 150%;
            color: #fff;
            padding: 8px 48px;
            margin-left: 40px;
            display: inline-block;
        }

        /*header new end here*/


        /*new footer starts here*/
        .h-footer {
            background-color: #50575D;
            padding: 55px 0px 100px 0px;
        }

        .h-footer-inner {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
        }

        .h-footer-inner>div:first-child {
            width: 15%;
        }

        .h-footer-inner>div:last-child {
            width: 15%;
        }

        .h-footer-inner>div:nth-child(2) {
            width: 60%;
        }

        .b-logo img {
            width: 130px;
        }

        .f-services h1 {
            font-family: 'Lorin-xbold';
            font-size: 16px;
            line-height: 105%;
            text-transform: uppercase;
            color: #FFBC00;
        }

        .services-tp {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

        }

        .services-tp>a {
            width: 30%;
            font-family: 'Lorin';
            font-size: 14px;
            line-height: 105%;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .pratices-tp {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

        }

        .pratices-tp>a {
            width: 30%;
            font-family: 'Lorin';
            font-size: 14px;
            line-height: 105%;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .f-contact h1 {
            font-family: 'Lorin-xbold';
            font-size: 16px;
            line-height: 105%;
            text-transform: uppercase;
            color: #FFBC00;
        }

        .f-contact>div {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 16px;

        }

        .f-contact img {
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }

        .f-contact a {
            font-family: 'Lorin-xbold';
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #FFFFFF;


        }

        .sicons img {
            width: 20px;
            height: 20px;
            margin-right: 26px;
        }

        /*new footer ends here*/