:root {
    --width-888: 61.6vw;
    /*fonts*/
    --font-size-12: 0.83vw;
    --font-size-14: 0.98vw;
    --font-size-16: 1.12vw;
    --font-size-18: 1.25vw;
    --font-size-20: 1.38vw;
    --font-size-24: 1.66vw;
    --font-size-26: 1.80vw;
    --font-size-30: 2.08vw;
    --font-size-32: 2.23vw;
    --font-size-48: 3.34vw;
    --font-size-50: 3.47vw;
    --font-size-56: 3.88vw;
    --font-size-60: 4.16vw;
    --font-size-60: 4.72vw;
    /*colors*/
    --yellow: #FFBC00;
    --white: #fff;
    /* Height dec2022*/
    --height-810:56.25vw;
    --height-863: 59.93vw;
    --height-875: 60.76vw;
    --height-889: 61.73vw;
    --height-506: 35.13vw;
    --height-464: 32.22vw;
    --height-523: 36.31vw;
    --height-547: 37.98vw;
    --height-505: 35.06vw;
    --height-155: 10.76vw;
    --height-240: 16.66vw;
    --height-102: 7.08vw;
    --height-51: 3.54vw;
    --height-55: 3.81vw;
    --height-90: 6.25vw;
    --height-313: 21.73vw;
    --height-300:20.83vw;
    --height-449: 31.18vw;
    --height-704: 48.88vw;
    /* Width dec2022*/
    --width-28: 1.95vw;
    --width-718: 49.86vw;
    --width-634: 44.02vw;
    --width-357: 24.79vw;
    --width-1063: 73.81vw;
    --width-431: 29.92vw;
    --width-388: 26.94vw;
    --width-382: 26.52vw;
    --width-485: 33.68vw;
    --width-600: 41.66vw;
    --width-700: 48.61vw;
    --width-722: 50.13vw;
    --width-509: 35.34vw;
    --width-536: 37.22vw;
    --width-102: 7.08vw;
    --width-194: 13.47vw;
    --width-162: 11.25vw;
    --width-211: 14.65vw;
    --width-126: 9.22vw;
    --width-273: 18.95vw;
    --width-953: 66.18vw;
    /* Padding */
    --padding-4: 0.28vw;
    --padding-12: 0.08vw;

    --padding-19: 1.31vw;
    --padding-47: 3.26vw;

    --padding-28: 1.94vw;
    --padding-23: 1.59vw;
    --padding-32: 2.22vw;
    --padding-37:2.56vw;
    --padding-39: 2.70vw;
    --padding-80: 5.56vw;
    --padding-45: 3.13vw;
    --padding-55: 3.81vw;


    --padding-60: 4.16vw;
    --padding-76: 5.27vw;
    --padding-120: 8.32vw;
    --padding-80: 5.55vw;
    --padding-83: 5.76vw;




    --padding-65: 4.51vw;
    --padding-202: 14.02vw;
    --padding-173: 12.01vw;
    --padding-140: 9.72vw;
    --padding-110: 7.63vw;
    --padding-118: 8.19vw;
    --padding-130: 9.02vw;
    --padding-92: 6.38vw;
    /*margin*/
    --margin-28: 1.38vw;
    --margin-49: 3.40vw;
    --margin-100: 6.94vw;
    --margin-120: 8.33vw;
    --margin-70: 4.86vw;
    --margin-102: 7.08vw;
    --margin-164: 11.38vw;
    --margin-231: 16.04vw;
    --margin-278: 19.30vw;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    50% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3);
    }

    100% {
        opacity: 0;
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

@-webkit-keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        top: -100%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        top: -100%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}


@font-face {
    font-family: 'Lorin';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin Regular'), local('/web/static/src/custom_fonts/Lorin-Regular'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lorin-bold';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin Bold'), local('Lorin-Bold'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lorin-xbold';
    src: url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.eot');
    src: local('https://dev.cids.design/web/static/src/custom_fonts/Lorin ExtraBold'), local('Lorin-ExtraBold'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.woff2') format('woff2'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.woff') format('woff'),
        url('https://dev.cids.design/web/static/src/custom_fonts/Lorin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/*banner css*/
.comm-banner {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
    /* text-align: center; */
    text-align: left;
    z-index: 9999;
    transition: all .35s linear;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideupText;
    animation-delay: 0.5s;
    /* // padding:var(--font-size-60) 0px var(--font-size-60) var(--width-102); */
}


@keyframes slideupText {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 30%;
    }
}


.pText p {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 180%;
    width: var(--width-700);
    /* margin: auto; */
    /* or 32px */
    /* text-align: center; */
    text-align: left;

    /* White */
    color: #FFFFFF;


}

.comm-banner h1 {
    font-size: var(--font-size-48);
    color: var(--white);
    font-family: 'Lorin-bold';
    font-style: normal;
    /* font-weight: 700; */
    line-height: 150%;
    /* text-align: center; */
    text-align: left;
    margin-bottom: 0px;

}

.comm-banner p.headP {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-18);
    line-height: 180%;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.comm-banner h1 span {
    /* color: var(--yellow) */
}


.commercial-banner .owl-carousel .owl-item img {
    width: 100%;
    height: var(--height-810);
}

/*banner animation*/
.commercial-banner .owl-item.active h1 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInUp;
    animation-delay: 0.3s;
}

.commercial-banner .owl-item.active .pText {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInUp;
    animation-delay: 0.3s;
}

.commercial-banner .owl-item.active .hbtns {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: slideInUp;
    animation-delay: .65s;
}

.commercial-banner .owl-dots {
    display: none;
}




.service-imgs>div:hover .abs-service p::after {
    content: "";
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--yellow);
}



.abs-service p:nth-child(2) {
    display: inline-block;
    position: relative;
}

.abs-service p:nth-child(2)::after {
    content: "";
    width: 100%;
    bottom: -5px;
    left: 0;
    background-color: var(--yellow);
    height: 2px;
    position: absolute;
    opacity: 0;
}


/*FFE Specific*/
.process {
    display: flex;
    align-items: center;
}

.process>.process-lft {
    width:40%;
    padding-left: var(--padding-19);
    padding-right: var(--padding-19);
}

.process>.process-rgt {
    width:60%;
    height: var(--width-634);
    position: relative;
    overflow: hidden;
}

.process-rgt img {
    height: var(--width-634);
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.process-lft h1 {
    font-family: 'Lorin-bold';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-30);
    margin-bottom: var(--font-size-20);
    line-height: var(--padding-37);
    text-transform: capitalize;
    color:#50575D;
    position: relative;
}

.process-lft p,.process-lft span {
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: 150%;
    color: #50575D;
    text-align: justify;
    font-family: 'Lorin';
    /* margin-bottom: var(--font-size-20); */
}
.process-lft span{
    font-family: 'Lorin-bold';
}
.direct-info{
    margin-top: var(--font-size-20);
}
.process-lft h1 span {
    color: #50575D;
}

.process.proc4{
    margin:var(--height-51) 0px;
}
/*ffe ends here*/

/*client feedback ends here*/

.comm-banner {
    width: var(--width-888);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    text-align: left;
    z-index: 9999;
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev {
    left: 10%;
    top: 35%;
    position: absolute;
    width: var(--font-size-48);
    height: var(--font-size-48);
}

button.owl-prev:focus {
    outline: none;
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev:hover .fa {
    color: var(--yellow);
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev .fa {
    font-size: var(--font-size-30);
    color: #fff;
    opacity: 0.8
}

#button .fa {
    font-size: var(--font-size-20);
    color: #fff;
    opacity: 0.8
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next {
    right: 10%;
    top: 35%;
    position: absolute;
    width: var(--font-size-48);
    height: var(--font-size-48);
}

button.owl-next:focus {
    outline: none;
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next:hover .fa {
    color: var(--yellow);
}

.commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next .fa {
    font-size: var(--font-size-30);
    color: #fff;
    opacity: 0.8
}

.owl-nav button.owl-next:focus-visible {
    outline: none !important;
}

.owl-nav button.owl-prev:focus-visible {
    outline: none !important;
}

.commercial-banner .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
}

#button {
    width: var(--padding-28);
    height: var(--padding-28);
    background: var(--yellow);
    box-shadow: 0px 15px 10px -15px #111;
    border-radius: 50%;
    outline: none;
    border: none;
    position: fixed;
    right: 3%;
    bottom:var(--font-size-26);
    transition:
        opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 9999;
}

#button.show {
    opacity: 1;
    /* //     visibility: visible; */
}

#button:hover {
    box-shadow: 0px 15px 10px 0px rgba(17, 17, 17, 0.24);
}

#button .fa {
    font-size: var(--font-size-20);
    color: #fff;
    opacity: 0.8
}


/*how we design new starts here*/
.exceptional-services{
    width:90%;
    margin:auto;
}
.exceptional-services h1
{
    font-family: 'Lorin-xbold';
    font-style: normal;
    font-weight: 800;
    font-size: var(--font-size-30);
    margin-bottom: var(--font-size-12);
    line-height: 150%;
    color:#50575D;
}
.exceptional-services p{
    font-family: 'Lorin';
    text-transform: capitalize;
    color: #50575D;
    font-size: var(--font-size-16);
    margin-bottom: var(--font-size-12);
    line-height: 150%;
    color:#50575D;
}
.top-inter{
    display:flex;
}
.left-interior{
    width:30%;position: relative;
}
.right-interior{
    width:70%;
    height:var(--width-600);
    position: relative;
}
.hotel-inter{
    height: 100%;
    position: relative;
    overflow:hidden;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
}
.bottom-inter{
    display:flex;
}
.commercial-int{
    width:70%;
    height:var( --height-300);
    position: relative;
    overflow:hidden;
}
.hospitals-int{
    width:30%;
    height:var( --height-300);
    position: relative;
    overflow:hidden;
    border-left:2px solid #fff;
}
.ofc-int,.bar-int{
    height:var( --height-300);
    width:100%;
    position: relative;
    overflow:hidden;
    border-bottom:2px solid #fff;
}
/* .ofc-int:hover img,.bar-int:hover img,.hotel-inter:hover img,.commercial-int:hover img,.hospitals-int:hover img{
transform:scale(1.5);
} */

.ofc-int img,.bar-int img,.right-interior img,.commercial-int img,.hospitals-int img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition:all .35s linear;
}

.expert-consultation{
    height:var(--width-700);
    background-size:cover;
    width:100%;
    background-image: url('/cids_theme_odoo_15/static/src/img/how_design/service-contact.png');
    background-repeat: no-repeat;
    padding:var(--font-size-30);
    margin:var(--font-size-30) 0px;
    text-align: center;
}
.expert-consultation p{
    color:#50575D;
    font-size:var(--font-size-16);
    font-family: 'Lorin';
font-style: normal;
font-weight: 400;
}
.expert-consultation h1{
    color:#50575D;
    font-size:var(--font-size-32);
    font-family: 'Lorin';
font-style: normal;
font-weight: 400;
margin-bottom:var(--font-size-20);
}
.expert-consultation a{
    color:#50575D;
    font-size:var(--font-size-16);
    font-family: 'Lorin';
font-style: normal;
font-weight: 400;
margin-bottom:var(--font-size-20);
position: relative;
text-decoration: none;
}
.expert-consultation a::after{
    content:"";
    height:2px;
    background-color: #FFBC00;
    position:absolute;
    top:var(--font-size-24);
    left:0;
    right:0px;

}
.absDiv-except{
position:absolute;
bottom:var(--font-size-18);
left:var(--font-size-32);
right:var(--font-size-32);
color:#fff;
}
.absDiv-except h2{
    font-size:var(--font-size-18);
    font-family: 'Lorin';
font-style: normal;
font-weight: 400;
}
.absDiv-except p{
    font-size:var(--font-size-14);
    font-family: 'Lorin';
    font-style: normal;
    font-weight: 400;
    color:#fff;
}

.cids-procs{
    padding-left:5%;
    margin:var(--font-size-60) 0px;
    display:flex;
    text-align: justify;
}
.left-proc{
    width:40%;
    padding-right:var(--font-size-30);
}

.left-proc h4{
line-height:var(--font-size-24);
text-transform: capitalize;
color: #50575D;
font-size:var(--font-size-20);
font-family: 'Lorin';
font-weight: 400;
margin-bottom:var(--font-size-20);
position: relative;
padding-left:var(--font-size-56);
display:flex;
align-items: center;
cursor: pointer;
padding-bottom: var(--font-size-18);
border-bottom: 1px solid #DDDDDD;;
}


.left-proc h4 span{
    width:var( --padding-32);
    height:var( --padding-32);
    position: absolute;
    background-color: #FFF0C6;
    color:#FFBC00;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:0;
    top:0;
}
.accordion-content{
    margin-bottom:var(--font-size-20);
}

.accordion-container .accordion-title .fa-chevron-down.arrow{
    color:#FFBC00;
    position: absolute;right:0;
    font-size:var(--font-size-16);
    transform: rotate(-90deg);
    transition:all .35s linear;
}
.contact-arrow{
    color:#FFBC00;
    font-size:var(--font-size-14);
    margin-left:var(--font-size-14);
}
.accordion-container .accordion-title.open .fa-chevron-down.arrow{
    transform: rotate(0deg);

  }

.accordion-content p{
    font-size:var(--font-size-16);
    font-family: 'Lorin';
font-style: normal;
font-weight: 400;
}
.right-proc{
    width:60%;
    background-image: url('/cids_theme_odoo_15/static/src/img/how_design/define-look.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:var(--height-523);
    transition: all .35s linear;
    position:relative;
}
/*how we design ends here*/
/*Responsive starts here*/
@media screen and (max-width:1200px) {

    .login a {
        width: 28px;
        height: 28px;
    }

    .login {
        width: 25%;
    }

    #button {
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:990px) {
    :root {
        /* Font Size */
        --font-size-48: 3.34vw;
        --font-size-32: 25px;
        --font-size-18: 16px;
        --font-size-20: 18px;
        --font-size-24: 20px;
        --font-size-16: 14px;
        --font-size-30: 24px;
        --font-size-14: 12px;
        --font-size-60: 4.16vw;
        --font-size-50: 3.47vw;

    }

    .logo img {
        width: 110px;
    }

    .bottom-header {
        height: 50px;
    }

    .process-rgt{
        width:40%;
    }
    .process>.process-lft{
        width:60%;
    }
    .process-lft h1{font-size:18px;}
    .process-lft p, .process-lft span,.accordion-content p{font-size:14px;}
    .left-proc,.right-proc{width:50%;}
    .cids-procs{padding-left:2%;}
    .left-proc h4{font-size:16px; margin-bottom:10px; padding-bottom:10px;}
    .absDiv-except h2{font-size:15px;}
}

@media screen and (max-width:950px)
{
    .process{flex-direction: column-reverse; width:90%; }
    .process.proc4{margin:30px auto;}
    .left-proc,.right-proc{width:100%;}
    .process>.process-lft,.process>.process-rgt{
        width:100%;
        height:auto;
    }
    .process-rgt img{height:250px; margin-top:15px;}
    .process>.process-lft{padding-left:0px; padding-right:0px;}
    .exceptional-services h1{font-size:20px;}
    .cids-procs{flex-direction: column; margin-top:0px; margin-bottom:20px; width:90%; margin:auto;}
    .left-interior,.right-interior,.commercial-int,.hospitals-int{width:50%;}
    .expert-consultation h1{font-size:18px;}
}


@media screen and (max-width:768px) {
    .comm-banner {
        top: 0%;
        padding: 30px;
    }

    :root {

        /*fonts*/
        --font-size-12: 10px;

        --font-size-16: 14px;
        --font-size-18: 16px;
        --font-size-20: 18px;
        --font-size-24: 20px;
        --font-size-30: 22px;
        --font-size-32: 28px;
        --font-size-48: 30px;
        --font-size-50: 45px;


        --font-size-56: 22px;
        --font-size-30: 18px;
        --font-size-20: 16px;
        --font-size-14: 12px;


        --font-size-60: 50px;
    }

    .process>.process-lft {
        padding-top: 40px;
    }

}

@media screen and (max-width:767px) {

    .process {
        flex-wrap: wrap;
    }

    .process>.process-lft,
    .process>.process-rgt {
        width: 100%;
        margin-top: 30px;
        margin: auto;
    }

    .process-lft h1 {
        margin-bottom: 5px;
        margin-top:0px;
        line-height:23px;
    }

    .process-rgt img {
        height: 250px;
        object-fit: cover;
    }

    .process>.process-lft {
        padding-left: 0px;
        padding-right: 0px;
    }

    .process.proc2 {
        flex-direction: column-reverse;
    }

    .process>.process-lft {
        padding-top: 10px;
    }

    .comm-banner {
        transform: translate(-50%, 20%);
    }

    #button {
        width: 18px;
        height: 18px;
    }

    #button .fa {
        font-size: 14px;
    }
}

@media screen and (max-width:648px)
{
    .top-inter,.bottom-inter{flex-direction: column;}
    .left-interior, .right-interior, .commercial-int, .hospitals-int{
        width:100%;
    }
    .expert-consultation h1{font-size:16px;}
    .ofc-int, .bar-int,.left-interior, .right-interior, .commercial-int, .hospitals-int,.right-proc,.expert-consultation{height:200px;}
}

@media screen and (max-width:600px) {
    .hotel-banner {
        top: 60%;
    }

    :root {
        /* Font Size */
        --font-size-30: 20px;
    }

    .top-banner .owl-carousel .owl-item img {
        height: 300px;
    }


}

@media screen and (max-width:580px) {

    .left-proc h4 span{ top:6px;}
    .exceptional-services h1{font-size:16px; margin-top:20px;}
    :root {
        /* Font Size */
        --font-size-30: 18px;
    }
    .process.proc4{margin-top:10px;}
    .owl-theme .owl-nav [class*=owl-] img {
        width: 30px !important;
        height: 30px !important;
    }



    .comm-banner {
        top: 15%;
        padding: 22px;
        width: 90%;
    }

    .comm-banner h1 {
        font-size: 18px;
    }

    .pText p {
        width: 100%;
    }

    .process-lft h1,
    .journy-inner h1,
    .service-text h1 {
        font-size: 16px;
    }

    .commercial-banner .owl-nav {
        bottom: 20%;
    }

    .commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev {
        left: 40%;
        top: 85%;
    }

    .commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next {
        right: 40%;
        top: 85%;
    }


}

@media screen and (max-width:520px) {}

@media screen and (max-width:480px) {

    .commercial-banner {
        height: 350px;
    }

    .commercial-banner .owl-carousel .owl-item img {
        height: 350px;
        object-fit: cover;
    }

    .comm-banner h1 {
        font-size: 18px;
    }

    .comm-banner {
        padding: 0px;
    }


    .process-rgt img {
        height: 200px;
    }

    .commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-next .fa {
        font-size: var(--font-size-48);
    }

    .commercial-banner .owl-carousel.commercialBanner .owl-nav button.owl-prev .fa {
        font-size: var(--font-size-48);
    }

    #button {
        width: 14px;
        height: 14px;
    }

    #button .fa {
        font-size: 10px;
    }
}

@media screen and (max-width:370px) {

    .comm-banner h1 {
        font-size: 15px;
    }

}



/*Responsive ends here*/
